<?xml version="1.0"?>
<launch>
    <arg name="config" default="urdf"/>
    <param name="robot_description" textfile="$(find robot_description)/urdf/robot_tutorial.urdf" />
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="worlds/empty.world"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="recording" value="false"/>
		<arg name="debug" value="false"/>
 	</include>
 	
   <!--include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find robot_description)/jjii.world"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="recording" value="false"/>
		<arg name="debug" value="false"/>
 	</include-->
 	
 	<node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model box -x 0 -y 0 -z 0" />
    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
    <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find robot_description)/rviz/$(arg config).rviz"/>
</launch>
